<div class="sidebar" id="sidebar">
    <h1>Menú</h1>
    <div class="submenu">
        <button class="submenu-btn">Usuarios ▾</button>
        <div class="submenu-content">
            <a href="/usuarios">Registrar Usuarios</a>
            <a href="/editar_usuarios">Editar Usuarios</a>
        </div>
    </div>
    <div class="submenu">
        <button class="submenu-btn">Menú ▾</button>
        <div class="submenu-content">
            <a href="/menu">Registrar Menú</a>
            <a href="/editar_menu">Editar Menú</a>
            <a href="/ingredientes">Registrar Ingredientes</a>
            <a href="/editar_ingredientes">Editar Ingredientes</a>
        </div>
    </div>
    <div class="submenu">
        <button class="submenu-btn">Pedidos ▾</button>
        <div class="submenu-content">
            <a href="/pedidos">Registrar Pedido</a>
            <a href="/detalle_pedido">Detalle de Pedido</a>
            <a href="/vista_pedido">Buscar Pedido</a>
            <a href="/editar_pedidos">Editar Pedidos</a>
        </div>
    </div>
    <div class="submenu">
        <button class="submenu-btn">Cocina ▾</button>
        <div class="submenu-content">
            <a href="/vista_cocinero">Lista de Pedidos</a>
            <a href="/detalle_pedido">Detalle de Pedido</a>
            <a href="/editar_pedidos">Editar Pedidos</a>
        </div>
    </div>
    <div class="submenu">
        <button class="submenu-btn">Configuración ▾</button>
        <div class="submenu-content">
            <a href="/permisos">Registrar Permisos</a>
            <a href="/registro_voz">Registrar comandos de Voz</a>
            <a href="/auditoria">Auditoría</a>
            <a href="/tablas">Tablas</a>
            <a href="/avatar">Avatar</a>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/funciones_sidebar.js') }}"></script>



