{% extends "base.html" %}

{% block title %}Agregar Menú{% endblock %}

{% block content %}
<div class="layout-dos-columnas">
    <div class="form-container">
        <h1>Nuevo Plato del Menú</h1>
        <form method="POST" action="/guardar_menu" enctype="multipart/form-data">
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" id="nombre" required>

            
            <div class="fila-dos-columnas">
                <div class="columna">
                    <label for="descripcion">Descripción:</label>
                    <textarea name="descripcion" id="descripcion" rows="3" required></textarea>
                    <label for="precio">Precio:</label>
                    <input type="number" step="0.01" name="precio" id="precio" required>

                    <label for="disponible">Disponible:</label>
                    <select name="disponible" id="disponible" required>
                        <option value="1">Sí</option>
                        <option value="0">No</option>
                    </select>

                    <button type="submit">Guardar</button>
                </div>

                <div class="columna">
                    <!-- Imagen -->
                    <label>Imagen del plato:</label>
                    <div class="imagen-preview" onclick="document.getElementById('imagen').click();">
                        <img id="preview" src="{{ url_for('static', filename='img/menu/placeholder.png') }}" alt="Vista previa">
                    </div>
                    <input type="file" name="imagen" id="imagen" accept="image/*" style="display: none;" onchange="mostrarVistaPrevia(event)">
                </div>
            </div>
            
        </form>
    </div>
    <div class="automata-container">
    {% include "_automata.html" %}
    </div>
</div>
<script src="{{ url_for('static', filename='js/funciones_menu.js') }}"></script>
{% endblock %}

